<a href="https://colab.research.google.com/github/Mannat3021/python-class/blob/main/pythonclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
print("Name : Mannat")
print("Mobile number : 9592351673")
print("Email id : yessmannattt3021@gmail.com")
print("D.O.B : 21-08-2009")
print("Gender : Female")
print("Father's name : Sunil kumar")
print("Languages known : Hindi,english,punjabi")
print("Religion : Hindu")
print("Education : 11th class")

Name : Mannat
Mobile number : 9592351673
Email id : yessmannattt3021@gmail.com
D.O.B : 21-08-2009
Gender : Female
Father's name : Sunil kumar
Languages known : Hindi,english,punjabi
Religion : Hindu
Education : 11th class

In [ ]:
user_name= "mannat"
age =18
email_id = "yessmannattt@gmail.com"
DOB="august"
gender="female"
religion="hindu"
education= 11
print(" your name :  ", user_name)
print("age : ", age)
print("email id  : ", email_id)
print("D.O.B : ", DOB)
print("gender : ", gender)
print(" religion : ", religion)
print("education : ", education)

 your name :   mannat
age :  18
email id  :  yessmannattt@gmail.com
D.O.B :  august
gender :  female
 religion :  hindu
education :  11

In [ ]:
item1="pizza"
item2="burger"
item3="fries"
print(item1,item2,item3)
price_of_item1= 199
price_of_item2= 80
price_of_item3= 50
print( price_of_item1+price_of_item2+price_0f_item3 )

pizza burger fries

NameError: name 'price_0f_item3' is not defined